/performanceMeasure/
/plots/
/results/
/runBatch20.txt
/runBatch50.txt
/runBatch100_10.txt
/runBatch100_20.txt
/runBatch100.txt
/runBatch100_5.txt
/runBatch20_10.txt
/runBatch20_20.txt
/runBatch20_5.txt
/runBatch50_10.txt
/runBatch50_20.txt
/runBatch50_5.txt
